<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
!pip install pandas
#!pip install requests
!pip install requests

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (1.26.8)
Requirement already satisfied: idna<4,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (2.0.12)

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd
import json

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=3ae8a41ae8b314fe2c76abee00969ef2"  #Make sure to change ******* to your API key.
data = json.loads(requests.get(url).text)
data

{'success': True,
 'timestamp': 1650472696,
 'base': 'EUR',
 'date': '2022-04-20',
 'rates': {'AED': 3.988321,
  'AFN': 94.469704,
  'ALL': 120.367796,
  'AMD': 509.495289,
  'ANG': 1.957737,
  'AOA': 447.355915,
  'ARS': 123.711605,
  'AUD': 1.456747,
  'AWG': 1.955089,
  'AZN': 1.842817,
  'BAM': 1.956567,
  'BBD': 2.193285,
  'BDT': 93.664864,
  'BGN': 1.956171,
  'BHD': 0.409424,
  'BIF': 2186.919664,
  'BMD': 1.085859,
  'BND': 1.48123,
  'BOB': 7.468074,
  'BRL': 5.020576,
  'BSD': 1.086289,
  'BTC': 2.6283135e-05,
  'BTN': 83.049168,
  'BWP': 12.690144,
  'BYN': 3.599555,
  'BYR': 21282.832877,
  'BZD': 2.189634,
  'CAD': 1.356232,
  'CDF': 2184.748337,
  'CHF': 1.028569,
  'CLF': 0.032075,
  'CLP': 884.67075,
  'CNY': 6.970345,
  'COP': 4081.384972,
  'CRC': 709.086968,
  'CUC': 1.085859,
  'CUP': 28.775259,
  'CVE': 110.67056,
  'CZK': 24.37411,
  'DJF': 193.379245,
  'DKK': 7.439512,
  'DOP': 59.776727,
  'DZD': 155.923781,
  'EGP': 20.072752,
  'ERN': 16.287884,
  'ETB': 55.702558,
  'EUR': 1,
  'FJD': 2.28704,
  'FKP': 0.834637,
  'GBP': 0.831279,
  'GEL': 3.295567,
  'GGP': 0.834637,
  'GHS': 8.171125,
  'GIP': 0.834637,
  'GMD': 58.525704,
  'GNF': 9620.708919,
  'GTQ': 8.323557,
  'GYD': 227.261377,
  'HKD': 8.517243,
  'HNL': 26.560229,
  'HRK': 7.563985,
  'HTG': 118.403488,
  'HUF': 370.876174,
  'IDR': 15588.426344,
  'ILS': 3.49626,
  'IMP': 0.834637,
  'INR': 82.83496,
  'IQD': 1585.353878,
  'IRR': 45986.120959,
  'ISK': 139.03313,
  'JEP': 0.834637,
  'JMD': 168.132204,
  'JOD': 0.76985,
  'JPY': 138.707068,
  'KES': 125.470594,
  'KGS': 89.64579,
  'KHR': 4395.556242,
  'KMF': 492.547887,
  'KPW': 977.273067,
  'KRW': 1340.6719,
  'KWD': 0.331567,
  'KYD': 0.905224,
  'KZT': 481.171158,
  'LAK': 12943.43717,
  'LBP': 1647.247507,
  'LKR': 358.458856,
  'LRD': 164.996703,
  'LSL': 16.374499,
  'LTL': 3.206259,
  'LVL': 0.656825,
  'LYD': 5.119833,
  'MAD': 10.634354,
  'MDL': 20.074558,
  'MGA': 4343.435536,
  'MKD': 61.638206,
  'MMK': 2011.217769,
  'MNT': 3251.998619,
  'MOP': 8.775004,
  'MRO': 387.651412,
  'MUR': 46.69403,
  'MVR': 16.776667,
  'MWK': 883.352175,
  'MXN': 21.741054,
  'MYR': 4.649659,
  'MZN': 69.31021,
  'NAD': 16.374945,
  'NGN': 451.173238,
  'NIO': 38.797989,
  'NOK': 9.554651,
  'NPR': 132.87658,
  'NZD': 1.595514,
  'OMR': 0.418061,
  'PAB': 1.086309,
  'PEN': 4.020923,
  'PGK': 3.811089,
  'PHP': 57.098263,
  'PKR': 202.023837,
  'PLN': 4.636707,
  'PYG': 7442.402026,
  'QAR': 3.953634,
  'RON': 4.945648,
  'RSD': 117.679959,
  'RUB': 89.582912,
  'RWF': 1110.833573,
  'SAR': 4.072329,
  'SBD': 8.714808,
  'SCR': 15.654056,
  'SDG': 485.923962,
  'SEK': 10.244589,
  'SGD': 1.480558,
  'SHP': 1.495661,
  'SLL': 13432.073555,
  'SOS': 628.712128,
  'SRD': 22.510912,
  'STD': 22475.085239,
  'SVC': 9.505579,
  'SYP': 2728.16544,
  'SZL': 16.369363,
  'THB': 36.690052,
  'TJS': 13.578512,
  'TMT': 3.800506,
  'TND': 3.282546,
  'TOP': 2.470438,
  'TRY': 15.933816,
  'TTD': 7.37364,
  'TWD': 31.745086,
  'TZS': 2521.363985,
  'UAH': 31.936724,
  'UGX': 3839.975004,
  'USD': 1.085859,
  'UYU': 44.825877,
  'UZS': 12264.77501,
  'VEF': 232189432959.00476,
  'VND': 24936.204877,
  'VUV': 122.247779,
  'WST': 2.807425,
  'XAF': 656.204057,
  'XAG': 0.043211,
  'XAU': 0.000556,
  'XCD': 2.934588,
  'XDR': 0.7967,
  'XOF': 657.488474,
  'XPF': 119.851673,
  'YER': 271.736362,
  'ZAR': 16.338212,
  'ZMK': 9774.040249,
  'ZMW': 18.900968,
  'ZWL': 349.646097}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [4]:
# Turn the data into a dataframe
dataframe = pd.DataFrame(data)
dataframe

     success   timestamp base        date        rates
AED     True  1650472696  EUR  2022-04-20     3.988321
AFN     True  1650472696  EUR  2022-04-20    94.469704
ALL     True  1650472696  EUR  2022-04-20   120.367796
AMD     True  1650472696  EUR  2022-04-20   509.495289
ANG     True  1650472696  EUR  2022-04-20     1.957737
..       ...         ...  ...         ...          ...
YER     True  1650472696  EUR  2022-04-20   271.736362
ZAR     True  1650472696  EUR  2022-04-20    16.338212
ZMK     True  1650472696  EUR  2022-04-20  9774.040249
ZMW     True  1650472696  EUR  2022-04-20    18.900968
ZWL     True  1650472696  EUR  2022-04-20   349.646097

[168 rows x 5 columns]

In [11]:
# Drop unnescessary columns
dataframe.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
dataframe

           rates
AED     3.988321
AFN    94.469704
ALL   120.367796
AMD   509.495289
ANG     1.957737
..           ...
YER   271.736362
ZAR    16.338212
ZMK  9774.040249
ZMW    18.900968
ZWL   349.646097

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [9]:
# Save the Dataframe
dataframe.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).